@import 'tailwindcss';

/* General body styling */
body {
    position: relative; /* Ensures the body is positioned relative to its normal flow */
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers content horizontally */
    min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
    font-family: 'Space Mono';
    font-style: normal;
    line-height: normal;
    background: #c5e4e7;
}

/* Media query for screens with a width of up to 375px */
@media screen and (max-width: 375px) {
    body {
        min-height: 100%; /* Ensures the body takes up at least the full height of its parent container */
    }
}
.text-regular-semibold {
    color: #5e7a7d;
    font-size: 16px;
    font-weight: 700;
}

input[type='number'] {
    border-style: none;
    border-radius: 5px;
    background: #f3f9fa;
    width: 100%;
    height: 3rem;
    padding: 0.375rem 1.0625rem;
    color: #00474b;
    text-align: right;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
}
input[type='number']:hover {
    border: 2px solid #26c2ae;
    background: #f3f9fa;
    cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.icon-input_wrapper {
    position: relative;
}
.icon-input_wrapper svg {
    position: absolute;
    top: 16.87px;
    left: 19.26px;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 2.55375rem;
    padding-top: 3.125rem;
    align-items: center;
}
.container .calculator {
    border-radius: 25px 25px 0px 0px;
    background: #fff;
    box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.container .calculator .inputs {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 0 0.5rem;
}
.container .calculator .inputs .bill {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.375rem;
}
.container .calculator .inputs .select-tip .btn-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.875rem;
    margin-top: 1rem;
}
.container .calculator .inputs .select-tip .btn-wrapper button {
    border-radius: 5px;
    background: #00474b;
    border-style: none;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 0.375rem 0;
    height: 3rem;
}
.container .calculator .inputs .select-tip .btn-wrapper button.active {
    color: #00474b;
    background: #26c2ae;
}
.container .calculator .inputs .select-tip .btn-wrapper button:hover,
.container .calculator .inputs .select-tip .btn-wrapper button:focus,
.container .calculator .inputs .select-tip .btn-wrapper button:active {
    background: #9fe8df;
    color: #00474b;
    cursor: pointer;
}
.container .calculator .inputs .numOfPeople .labelAndErrorText_wrapper {
    display: flex;
    justify-content: space-between;
}
.container .calculator .inputs .numOfPeople .labelAndErrorText_wrapper .d-none {
    display: none;
}
.container
    .calculator
    .inputs
    .numOfPeople
    .labelAndErrorText_wrapper
    span.error {
    color: #e17457;
    font-size: 16px;
    font-weight: 700;
}
.container .calculator .inputs .numOfPeople .icon-input_wrapper {
    margin-top: 0.375rem;
}
.container .calculator .inputs .numOfPeople .icon-input_wrapper input.error {
    border: 2px solid #e17052;
    background: #f3f9fa;
}
.container .calculator .tip-result {
    border-radius: 15px;
    background: #00474b;
    padding: 2.3125rem 1.375rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: space-between;
}
.container .calculator .tip-result .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
}
.container .calculator .tip-result .wrapper .tip_amount,
.container .calculator .tip-result .wrapper .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.container .calculator .tip-result .wrapper .tip_amount p span,
.container .calculator .tip-result .wrapper .total p span {
    color: #7f9d9f;
    font-size: 13px;
    font-weight: 700;
}
.container .calculator .tip-result .wrapper .tip_amount span.value,
.container .calculator .tip-result .wrapper .total span.value {
    color: #26c2ae;
    text-align: right;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.667px;
}
.container .calculator .tip-result .wrapper .tip_amount span.value::before,
.container .calculator .tip-result .wrapper .total span.value::before {
    content: '$';
}
.container .calculator .tip-result button.resetBtn {
    border-style: none;
    border-radius: 5px;
    background: #26c2ae;
    width: 100%;
    text-transform: uppercase;
    padding: 0.5625rem 0;
    color: #00474b;
    font-size: 20px;
    font-weight: 700;
}
.container .calculator .tip-result button.resetBtn:active,
.container .calculator .tip-result button.resetBtn:focus {
    background: #26c2ae;
}
.container .calculator .tip-result button.resetBtn.active {
    background: #26c2ae;
}
.container .calculator .tip-result button.resetBtn:hover {
    background: #9fe8df;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .container .calculator {
        flex-direction: row;
        column-gap: 3rem;
        border-radius: 25px;
    }
    .container .calculator .inputs {
        flex: 1;
        margin-top: 0.8125rem;
        margin-bottom: 1rem;
    }
    .container .calculator .inputs .select-tip .btn-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    .container .calculator .tip-result {
        flex: 1;
        padding: 2.5rem;
        justify-content: space-between;
    }
    .container .calculator .tip-result .wrapper {
        row-gap: 1.5625rem;
    }
}
@media screen and (min-width: 1440px) {
    .container {
        max-width: 57.5rem;
        max-height: 30.0625rem;
        margin: 10.1875rem auto 0;
        row-gap: 5.49125rem;
        padding-top: 0;
    }
    .container .calculator {
        max-height: 30.0625rem;
    }
    .container .calculator .inputs,
    .container .calculator .tip-result {
        flex: 1;
    }
    .container .calculator .tip-result {
        max-width: 25.8125rem;
    }
    .container .calculator .tip-result .wrapper .tip_amount span.value,
    .container .calculator .tip-result .wrapper .total span.value {
        font-size: 48px;
    }
}

/*# sourceMappingURL=styles.css.map */
